server:
  port: 8082

spring:
  application:
    name: user-service


  datasource:
    url: jdbc:postgresql://localhost:5432/carwash_user
    username: postgres
    password: himanshu
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


logging:
  level:
    root: INFO # Set the default level for all loggers